beamerposter*
diana-si2-pi-workshop-201*.aux
diana-si2-pi-workshop-201*.log
diana-si2-pi-workshop-201*.out
diana-si2-pi-workshop-201*.pdf
diana-si2-pi-workshop-201*.nav
diana-si2-pi-workshop-201*.snm
diana-si2-pi-workshop-201*.toc
